.highlight{
				border: 5px solid #008AB8;
			}
.shape {
	border-radius: 6px;
	border: 2px solid black;
	padding: 20px; 

}

@media screen and (max-width: 768px){
		.res{
			display:none;
		}
		.pos{
			margin-top:10%;
		}
	}
.active_tab{
	border-bottom: thick solid #004A6E;
}
u,li{
	cursor:pointer;
}
.tabs,center{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.liked{
	color:blue;
}
.commented{
	color:blue;
}
.cursorLoad{
	cursor: wait;
}

.popover{
    width:400px;
    max-height:300px;
    max-width:800px; 
	
}
.comment_list{
	overflow-y:auto;
	overflow-x:hidden;
}
hr{
	margin:3%; 
	padding:0px;
}
.company_info{
	opacity:0.9;
	margin-left:0px;
	width:100%;
	margin-top:68%;
	color:white;
	font-weight:900;
	background-color:#66CCFF;
}
/* creates a new stacking context on the header */
.my_header
{ 
    position: relative; 
}

/* positions header-content at the bottom of header's context */
.my_header-content 
{ 
    position: absolute; 
    bottom: 0; 
	background-color:#66CCFF;
	opacity:0.9;
	color:white;
	font-weight:900;
	margin-left:0;
	width:100%
}

.wall{
	height:400px;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	
}
a b{
	color:black !important;
}

.menu{
	margin-left:10px;
	cursor:pointer;
	width:238px;
	/*border-bottom: 1px solid #004A6E;*/
}
#control{
	cursor:pointer;
}
.email,.call{
	cursor:pointer;
}