/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */



/* General CSS */
/* UI - X */
.ui-142{
	margin:0px 0px;
}
/* Item */
.ui-142 .ui-item{
	max-width:310px;
	margin:10px auto;
	position:relative;
	overflow:hidden;
	border:1px solid #ddd;
}

/* Image */
.ui-142 .ui-item img {
	width:100%;
	height:40%;
	-moz-transition: all 0.7s ease;
	  -o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.ui-142 .ui-item:hover img {
	-moz-transition: scale(1.1);
	-o-transition: scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
/* Details */
.ui-142 .ui-item .ui-details{
	position:absolute;
	top:0px;
	left:0px;
	background:#fff;
	height:100%;
	width:40%;
	padding:18px 20px;
	box-shadow:0px 0px 25px rgba(0,0,0,0.5);
}

/* Heading */
.ui-142 .ui-details h3{
	font-size:14px;
	line-height:22px;
	text-transform:uppercase;
}
/* Paragraph */
.ui-142 .ui-details p{
	font-size:12px;
	line-height:25px;
	margin:5px 0px 10px;
	color:#999;
    
}
.ui-142 .ui-details .btn{
	border:0px;
	padding:3px 7px;
}
/* Circle */
.ui-142 .ui-item a.ui-circle{
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	top:20px;
	right:20px;
	border-radius:100%;
	color:#fff;
	line-height:40px;
	text-align:center;
	font-weight:600;
	font-size:15px;
}